# Common
node_modules
dist
build
.env
*.local
.DS_Store

# IDEs
.vscode/
.idea/
*.suo
*.sln

# Firebase
civicconnect-7c316-firebase-adminsdk-fbsvc-32969f9a65.json

# Flutter/Mobile
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Backend
backend/.env
backend/node_modules/

# Admin Dashboard
admin-dashboard/node_modules/
admin-dashboard/dist/